@import "tailwindcss";

@font-face {
  font-family: "MagicSchoolOne";
  src: url("/fonts/MagicSchoolOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.magic-school {
  font-family: "MagicSchoolOne";
}

.page-background {
  position: relative;
  min-height: 100vh;
  overflow: hidden; /* important si l'image dépasse */
}

.page-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/harryPotterBG.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  z-index: -2;
}

.page-background::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white; 
  opacity: 0.8; /* 40% */
  z-index: -1; /* couche au-dessus */
}
